__pycache__/
logs/
mushroom_rl_recordings/
ls-iq/
SkeletonSteering_0.4.1/
loco-mujoco-0.4.1
loco-mujoco-1.0.1
AmpSteering
.ipynb_checkpoints/
*.pkl
notes.txt
AGENTS.md
expert_dataset/
training/kit_expert_traj.npz
